# Ignore Python cache files
__pycache__/
*.pyc
/node_modules

# Ignore virtual environment
.venv/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore data files
data/

# Ignore output files
output/

# Ignore RAG storage and test data
storage/
.env

# Ignore uploads directory
uploads/
